<form class="w-full">
  <mat-form-field class="w-full compact-form-field" 
                  appearance="outline" 
                  subscriptSizing="dynamic">
                  
    <mat-label>Diagnosis Code</mat-label>
    
    <input type="text"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
           
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (option of filteredOptions | async; track option.code) {
        <mat-option [value]="option">
          <span>{{option.code}}</span> <span> : {{option.description}}</span>
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>