<div class="relative w-full group">
  <label class="block text-sm  text-slate-700 mb-1.5 ml-1">
    ICD Diagnose*
  </label>

  <div class="relative">
    <input 
      type="text"
      [formControl]="codeCtrl"
      (focus)="isDropdownOpen = true"
      class="w-full px-4 py-3 bg-white border border-slate-200 rounded-xl outline-none transition-all
             focus:border-blue-500 focus:ring-4 focus:ring-blue-500/10 
             placeholder:text-slate-400 text-slate-700 shadow-sm"
      placeholder="ICD Code oder Beschreibung suchen"
    />


    @if (isDropdownOpen && (filteredOptions | async); as results) {
      @if (results.length > 0) {
        <ul class="absolute z-50 w-full mt-2 bg-white border border-slate-100 rounded-xl shadow-2xl max-h-60 overflow-y-auto overflow-x-hidden p-2 animate-in fade-in zoom-in duration-150">
          @for (option of results; track option.code) {
            <li 
              (click)="selectOption(option)"
              class="group flex flex-col px-3 py-2.5 hover:bg-blue-50 rounded-lg cursor-pointer transition-colors border-b border-slate-50 last:border-none">
              <span class=" text-blue-600 group-hover:text-blue-700">{{ option.code }}</span>
              <span class="text-sm text-slate-500 truncate">{{ option.description }}</span>
            </li>
          }
        </ul>
      }
    }
  </div>
</div>